<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header" id="myHeader">
        <h1>All Courses</h1> </div>
       <div id="btn"> <button class="btn active" onclick="one()">learning</button>
        <button class="btn" onclick="two()">lets start</button>
        <button class="btn" onclick="three()">journey begins</button>
        <button class="btn" onclick="four()">best of luck</button>
      </div>
    <div class="row">
        <div class="column">
          <img src="images/download (1).jpg">
          <img src="images/download (2).jpg">
          <img src="images/download (3).jpg">
          <img src="images/download (4).jpg">
         
        </div>
        
        <div class="column">
            <img src="images/download (1).jpg">
            <img src="images/download (2).jpg">
            <img src="images/download (3).jpg">
            <img src="images/download (4).jpg">
           
          </div>
          <div class="column">
            <img src="images/download (1).jpg">
            <img src="images/download (2).jpg">
            <img src="images/download (3).jpg">
            <img src="images/download (4).jpg">
           
          </div>
          <div class="column">
            <img src="images/download (1).jpg">
            <img src="images/download (2).jpg">
            <img src="images/download (3).jpg">
            <img src="images/download (4).jpg">
           
          </div>
        <script type="text/javascript " src="script.js"></script>
      </div>
</body>
</html>